<ion-view view-title="My Devices">
    <ion-content class="padding" ng-controller="DevicesController" ng-init="getUserDevices()">
        <form ng-model="formDevices">
            <!--<div class="list">-->

                <ul class="list">
                    <li class="item" ng-repeat="device in devices" ng-click="openDeviceDetails($event,device)">
                        {{device.description}}
                    </li>
                </ul>

                <script id="device_detail.html" type="text/ng-template">
                    <ion-popover-view>
                        <ion-header-bar>
                            <h1 class="title">{{selectedDevice.description}}</h1>
                        </ion-header-bar>
                        <ion-content>
                            <p><label class="bold_font" for="device_id">ID: </label><span id="device_id">{{selectedDevice.deviceId}}</span></p>
                            <p><label class="bold_font" for="device_description">Description: </label><span id="device_description">{{selectedDevice.description}}</span></p>
                            <p><label class="bold_font" for="device_owner">Owner: </label><span id="device_owner">{{selectedDevice.owner}}</span></p>
                        </ion-content>
                    </ion-popover-view>
                </script>

        </form>
    </ion-content>
    </ion-content>
</ion-view>