<ion-view view-title="Trackme.io">
    <ion-content class="padding" scroll="false">
        <div id="splash-wrap">
            <div id="logo"></div>
            <div class="buttons">
                <a ui-sref="login">
                    <button class="button button-calm">
                        Login
                    </button>
                </a>
                <a ui-sref="signup">
                    <button class="button button-calm">
                        Signup
                    </button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>