<ion-view view-title="Home" ng-controller="MainController">
    <ion-content scroll="false">

        <ion-slide-box ng-show="shouldShowIntro()" does-continue="false"
                       show-pager='true'
                       slide-interval="3000"
                       auto-play="false"
                       on-slide-changed="slideChanged(index)">
            <ion-slide>
                <h3>keep track of what you love the most
                    <br/>
                    with just 3 simple steps!
                </h3>
                <img src="img/1.png" style="max-width: 50%"/>

            </ion-slide>
            <ion-slide>

                <h3>Add new trackables or devices</h3>
                <img src="img/1.png" style="max-width: 50%"/>

            </ion-slide>

            <ion-slide>

                <h3>Choose your tracking preferences</h3>
                <img src="img/2.png" style="max-width: 50%"/>

            </ion-slide>

            <ion-slide>

                <h3>Watch your trackables on the map</h3>
                <img src="img/3.png" style="max-width: 50%"/>
            </ion-slide>


        </ion-slide-box>
    </ion-content>
</ion-view>
