<ion-view view-title="Log in">
    <ion-content class="padding" ng-controller="MainController">

        <div style="width: 100%">
        <form ng-model="formLogin" ng-submit="performLogin()">
            <div class="list">
                <label class="item item-input">
                    <input type="email" placeholder="Email" name="email" ng-model="formLogin.user">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" name="password" ng-model="formLogin.pass">
                </label>

            </div>



            <div class="item item-divider">
                Options
            </div>

            <ion-toggle ng-model="rememberMe.checked"
                        ng-change="rememberMeChanged()" ng-checked="rememberMe.checked">
                {{rememberMe.text}}
            </ion-toggle>
            <ion-toggle ng-model="keepMeLoggedin.checked"
                 ng-change="keepMeLoggedinChanged()" ng-checked="keepMeLoggedin.checked">
                {{keepMeLoggedin.text}}
            </ion-toggle>

                <div class="range" id="green" ng-show="keepMeLoggedin.checked">
                    <b>For {{loogedInInterval.days}} day(s)</b>
                    <i class="icon ion-ios7-lightbulb-outline"></i>
                    <input type="range" min="1" max="5" name="days" ng-model="loogedInInterval.days">
                    <i class="icon ion-ios7-lightbulb"></i>
                </div>





            <input type="submit" class="button button-royal button-block" value="Log in"/>

        </form>
        </div>
    </ion-content>
</ion-view>