<ion-view view-title="Log in">
    <ion-content class="padding" ng-controller="MainController">

        <div style="width: 60%">
        <form ng-model="formLogin" ng-submit="performLogin()">
            <div class="list">
                <label class="item item-input">
                    <input type="email" placeholder="Email" name="email" ng-model="formLogin.user">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" name="password" ng-model="formLogin.pass">
                </label>

            </div>



            <div class="item item-divider">
                Options
            </div>

            <ion-toggle ng-model="rememberMe.checked"
                        ng-change="rememberMeChanged()">
                Remember me
            </ion-toggle>
            <ion-toggle ng-model="keepMeLoggedin.checked"
                 ng-change="keepMeLoggedinChanged()">
                Keep me Logged In for:
            </ion-toggle>

                <div class="range" id="green">
                    <i class="icon ion-ios7-lightbulb-outline"></i>
                    <input type="range" name="volume" ng-model="data2.volume">
                    <i class="icon ion-ios7-lightbulb"></i>
                </div>
                <p>{{data2.volume}} day(s)</p>




            <input type="submit" class="button button-royal button-block" value="Log in"/>

        </form>
        </div>
    </ion-content>
</ion-view>