<!--<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">

        <ion-content class="mymenu">

            <div id="menu-list">
                <ion-list class="list">
                    <ion-item item-type="item-icon-left" nav-clear menu-close href="#">
                        <i class="icon ion-home"></i><span>Menu Item</span>
                    </ion-item>
                </ion-list>
            </div>

        </ion-content>

    </ion-side-menu>

</ion-side-menus>-->
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" id="main_menu_view">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Trackme.io</h1>
        </ion-header-bar>
        <ion-content ng-controller="MainController">
            <ion-list>
                <!--<ion-item menu-close ng-click="login()">
                    Login
                </ion-item>-->
                <ion-item menu-close class="item-stable" href="#/app/trackables">
                    My Trackables
                </ion-item>
                <ion-item menu-close href="#/app/add_trackables">
                    Add new Trackable
                </ion-item>
                <ion-item menu-close href="#/app/devices">
                    My Devices
                </ion-item>
                <ion-item menu-close href="#/app/add_devices">
                    Add new Device
                </ion-item>
                <ion-item menu-close href="#/app/map">
                    My Map
                </ion-item>
                <ion-item menu-close href="#app/filtering">
                    Filter options
                </ion-item>
                <ion-item menu-close href="#app/profile">
                    My Account
                </ion-item>
                <ion-item menu-close href="#/app/settings">
                    Settings
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>