<!--<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">

        <ion-content class="mymenu">

            <div id="menu-list">
                <ion-list class="list">
                    <ion-item item-type="item-icon-left" nav-clear menu-close href="#">
                        <i class="icon ion-home"></i><span>Menu Item</span>
                    </ion-item>
                </ion-list>
            </div>

        </ion-content>

    </ion-side-menu>

</ion-side-menus>-->
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Trackme.io</h1>
        </ion-header-bar>
        <ion-content ng-controller="MainController">
            <ion-list>
                <!--<ion-item menu-close ng-click="login()">
                    Login
                </ion-item>-->
                <ion-item menu-close class="item-stable" href="#/app/trackables">
                    My Trackables
                </ion-item>
                <ion-item menu-close href="#/app/add_trackables">
                    Add new Trackable
                </ion-item>
                <ion-item menu-close href="#/app/devices">
                    My Devices
                </ion-item>
                <ion-item menu-close href="#/app/add_devices">
                    Add new Device
                </ion-item><!--href="#/app/map"-->
                <ion-item menu-close ng-click="toggleMapItem()"
                    ng-class="{active: isMapItemExpanded()}">
                    <i class="icon" ng-class="isMapItemExpanded() ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;My Map
                </ion-item>
                <ion-item class="item-accordion" ng-show="isMapItemExpanded()" ng-controller="MapController">
                    <!-- trackables list -->
                    <div class="panel panel-default" ng-controller="TrackablesController">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="my_trackables">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">My Trackables ({{ trackables.length }})</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">


                                <div id="trackables-list" class="row">

                                    <form role="form">

                                        <label for="filter_by_trackable">Filter by trackable:</label>
                                        <select id="filter_by_trackable" ng-model="selectedTrackable" ng-change="trackableChanged(selectedTrackable)" ng-options="trackable._id as trackable.name for trackable in trackables">
                                            <option value="">Show all</option>
                                        </select>

                                    </form>

                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end trackables list -->

                    <!-- filter by device here -->

                    <div class="panel panel-default" ng-controller="DevicesController">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="my_devices">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">My Devices ({{ devices.length }})</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">

                                <!-- devices list -->

                                <!-- DEVICES LIST -->
                                <div id="devices-list" class="row">
                                    <!-- <div class="col-sm-4 col-sm-offset-4">-->
                                    <form role="form">

                                        <label for="filter_by_device">Filter by device:</label>
                                        <select id="filter_by_device" ng-model="selectedDevice" ng-change="deviceChanged(selectedDevice)" ng-options="device._id as device.deviceId for device in devices">
                                            <option value="">Show all</option>
                                        </select>

                                    </form>
                                    <!--</div>-->
                                </div>
                                <!-- end devices list -->


                            </div>
                        </div>
                    </div>
                </ion-item>

                <ion-item menu-close ng-click="toggleAccountItem()">
                    My Account
                    <div>
                    {{loggedin_user}}
                    </div>
                </ion-item>
                <!-- TODO accordion with username<ion-item menu-close ng-click="toggleMapItem()"
                          ng-class="{active: isMapItemExpanded()}">
                    <i class="icon" ng-class="isMapItemExpanded() ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;My Map
                </ion-item>-->
                <ion-item menu-close href="#/app/settings">
                    Settings
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>