<ion-view view-title="Settings">
        <ion-content class="padding" ng-controller="SettingsController">


            <div class="item item-divider">
                WiFi Only?
            </div>

            <ion-toggle ng-model="wifiOnly.checked"
                        ng-change="wifiOnlyChanged()">
                WiFi Only?
            </ion-toggle>

            <div class="item item-divider">
                Tracking Interval (in minutes)
            </div>

            <div class="range" id="green">
                <b>Every {{trackingInterval.minutes}} minute(s)</b>
                <i class="icon ion-ios7-lightbulb-outline"></i>
                <input type="range" min="1" max="60" step="1" name="track_minutes" ng-change="trackingIntervalChanged()" ng-model="trackingInterval.minutes">
                <i class="icon ion-ios7-lightbulb"></i>
            </div>




            <div class="item item-divider">
                Send records in batches?
            </div>

            <ion-toggle ng-model="batchesSending.checked"
                        ng-change="batchesSwitchChanged()">
                Send records in batches?
            </ion-toggle>

            <div class="range" id="green">
                <b>Batches size: {{batches.size}}</b>
                <i class="icon ion-ios7-lightbulb-outline"></i>
                <input type="range" min="2" max="20" step="1" id="batches_size" ng-change="batchesSwitchChanged()" name="batches_size" ng-model="batches.size">
                <i class="icon ion-ios7-lightbulb"></i>
            </div>

            <div class="item item-divider">
                Tracking options
            </div>

            <ion-toggle ng-model="backgroundTracking.checked"
                        ng-change="backgroundTrackingChanged()">
                Enable background tracking?
            </ion-toggle>

            <!--<div class="item item-divider">
                Start tracking on startup?
            </div>-->

            <ion-toggle ng-model="startupTracking.checked"
                        ng-change="startupTrackingChanged()">
                Start tracking on startup?
            </ion-toggle>
            <div class="tracking_choice" ng-show="startupTracking.checked || backgroundTracking.checked">
                <ion-radio ng-repeat="item in startupChoicesList"
                           ng-value="item.value"
                           ng-model="data.startupChoice"
                           ng-change="startupChoiceChanged(item)">
                    {{ item.text }}
            </div>


            <a hre="#" class="button button-royal button-block" ng-click="applyNewPreferences()">Apply changes</a>

        </ion-content>
</ion-view>
