<ion-view view-title="Settings">
        <ion-content class="padding" ng-controller="SettingsController">


            <table>
                <tr>
                <td>WiFi Only? </td>
                <td>
                    <div class="onoffswitch">
                        <input type="checkbox" class="game-services-switch onoffswitch-checkbox" id="wifi-switch" name="game-services-switch" checked="checked" />
                        <label class="onoffswitch-label" for="wifi-switch">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>
                </td>
                </tr>

                <tr>
                    <td>Tracking Interval (in minutes) </td>
                    <td>
                        <div class="onoffswitch">

                            <input class="reverse_language_range" name="language_range_id" id="language_range_id" type=range min=1 max=60 value=5 step=1/>
                            <output class="change_direction_range_output" for="language_range_id">10</output>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Send records in batches? </td>
                    <td>
                        <div class="onoffswitch">
                            <input type="checkbox" ng-change="batchesSwitchChanged()" ng-true-value="'ON'" ng-false-value="'OFF'" ng-model="batchesSending" class="batches-switch onoffswitch-checkbox" id="batches-switch" name="game-services-switch" checked="checked" />
                            <label class="onoffswitch-label" for="batches-switch">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>

                        <div id="invisible_batch_sizes" class="is-hidden">
                            <input class="batches-switch-input" ng-model="batchSize" name="batches-switch-input" id="batches-switch-input" type=range min=2 max=20 value=2 step=1/>
                            <output class="batches-switch-output" for="batches-switch-input">2</output>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Start tracking on startup? </td>
                    <td>
                        <div class="onoffswitch">
                            <input type="checkbox" ng-change="startupTrackingChanged()" ng-model="startupTracking" ng-true-value="'ON'" ng-false-value="'OFF'" class="startup-tracking-switch onoffswitch-checkbox" id="startup-tracking-switch" name="game-services-switch" checked="checked" />
                            <label class="onoffswitch-label" for="startup-tracking-switch">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>
                        <p></p>
                        <div class="tracking_choice" ng-show="isStartupTrackingEnabled()">
                            <ion-radio ng-repeat="item in startupChoicesList"
                                       ng-value="item.value"
                                       ng-model="data.startupChoice"
                                       ng-change="startupChoiceChanged(item)">
                                {{ item.text }}
                        </div>

                    </td>
                </tr>

            </table>

        </ion-content>
</ion-view>
