<ion-view view-title="Sign up">
    <ion-content class="padding" ng-controller="MainController">
        <form ng-submit="performSignup()">
            <div class="list">
                <label class="item item-input">
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>
            </div>
            <button class="button button-royal button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>