<ion-view view-title="My Trackables">
    <ion-content class="padding" ng-controller="TrackablesController">

        <form ng-model="formTrackables">

                <ul class="list">
                    <li class="item" ng-repeat="trackable in trackables" ng-click="openPopover($event,trackable)">
                        {{trackable.name}}

                    </li>
                </ul>


            <script id="trackable_detail.html" type="text/ng-template">
                <ion-popover-view>
                    <ion-header-bar class="bar bar-royal">
                        <h1 class="title">{{selectedTrackable.name}}</h1>
                    </ion-header-bar>
                    <ion-content>
                        <label for="trackable_privacy">Privacy: </label><div id="trackable_privacy">{{selectedTrackable.privacy}}</div>
                        <label for="trackable_name">Name: </label><div id="trackable_name">{{selectedTrackable.name}}</div>
                        <label for="trackable_description">Description: </label><div id="trackable_description">{{selectedTrackable.description}}</div>
                        <label for="trackable_type">Type: </label><div id="trackable_type">{{selectedTrackable.type}}</div>
                    </ion-content>
                </ion-popover-view>
            </script>

        </form>

    </ion-content>
</ion-view>